/* ------------------------------------------------------------ *	Universal Helpers
\* ------------------------------------------------------------ */
.full-height {
  height: 100%; }

.half-height {
  height: 50%; }

.full-width {
  width: 100%; }

.half-width {
  width: 50%; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.my-auto {
  margin: auto 0; }

.mx-auto {
  margin: 0 auto; }

.py-auto {
  padding: auto 0; }

.px-auto {
  padding: 0 auto; }

.fw-bold {
  font-weight: bold; }

.fw-bolder {
  font-weight: bolder; }

.fw-lighter {
  font-weight: lighter; }

.fw-normal {
  font-weight: normal; }

.fs-italic {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

.underlined {
  text-decoration: underline; }

/* ------------------------------------------------------------ *	Project Helpers
\* ------------------------------------------------------------ */
.mt-md {
  margin-top: 4rem !important; }

.mb-md {
  margin-bottom: 4rem !important; }

/* ------------------------------------------------------------ *	Basic Colors
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *	Project Variables
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *	Button Colors
	linear-gradient(270deg,#f06449,#ef3636)


	linear-gradient(270deg,#235aa6,#101b3b)

\* ------------------------------------------------------------ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }
  @media (max-width: 1199px) {
    html {
      font-size: 62.5%; } }
  @media (max-width: 1023px) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 767px) {
    html {
      font-size: 45%; } }

a {
  text-decoration: none; }

body {
  box-sizing: border-box;
  font-family: Helvetica,Arial,sans-serif; }

ul {
  list-style: none; }

img {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  max-width: 100%;
  height: auto; }

/* ------------------------------------------------------------ *	Universal Typography 
\* ------------------------------------------------------------ */
h1 {
  font-size: 6.5rem;
  color: #ffffff; }

h2 {
  font-size: 6rem; }

h3 {
  font-size: 2rem;
  font-family: Times New Roman,serif;
  font-style: italic;
  color: #ffffff;
  font-weight: 100;
  letter-spacing: 2px; }

h4 {
  font-size: 3.5rem; }

h5 {
  font-size: 3rem; }

h6 {
  font-size: 2rem; }

/* ------------------------------------------------------------ *	Project Typography
\* ------------------------------------------------------------ */
/*  Header  */
.header {
  height: 100vh;
  width: 100%;
  padding: 0rem 5rem;
  position: relative;
  top: 0;
  right: 0;
  background-color: #1c1d25;
  /*.header__layout{
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: 40%;
		background-position: 50%;
		opacity: .2;
		z-index: 1; 
	}*/ }
  .header .header__socials {
    position: absolute;
    top: 50%;
    right: 2.5rem;
    transform: translateY(-50%); }
    .header .header__socials a {
      display: block;
      font-size: 2.4rem;
      color: #b0b2c3;
      transition: all .3s; }
      .header .header__socials a:hover {
        color: #ffffff; }
    .header .header__socials a + a {
      margin-top: 3rem; }
  .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1rem;
    z-index: 10; }
    .header .nav img {
      height: 13rem;
      width: 13rem;
      margin-top: 0;
      filter: grayscale(1); }
    .header .nav .nav__items .nav__item {
      display: inline; }
      .header .nav .nav__items .nav__item a {
        color: #b0b2c3;
        font-size: 2rem;
        text-transform: capitalize;
        transition: all .3s;
        /*  add the hover border effect  */ }
        .header .nav .nav__items .nav__item a:hover {
          color: #ffffff; }
    .header .nav .nav__items .nav__item + .nav__item {
      margin-left: 2rem; }
  .header .header__content {
    position: absolute;
    top: 35%;
    left: 10rem; }

/* ------------------------------------------------------------ *	Grid 
\* ------------------------------------------------------------ */
.cols {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.col {
  max-width: 100%;
  flex: 0 0 100%;
  padding-left: 15px;
  padding-right: 15px; }

.col-auto {
  flex-grow: 1;
  flex-shrink: 1;
  width: auto;
  max-width: none; }

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.justify-around {
  justify-content: space-around; }

.align-center {
  align-items: center; }

.d-flex {
  display: flex; }

.d-none {
  display: none; }

.d-inline {
  display: inline; }

.d-inlineb {
  display: inline-block; }

.row-reverse {
  flex-direction: row-reverse; }

.column-reverse {
  flex-direction: column-reverse; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

@media (max-width: 1199px) {
  .col-lg {
    max-width: 100%;
    flex: 0 0 100%; }
  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media (max-width: 1023px) {
  .col-sm {
    max-width: 100%;
    flex: 0 0 100%; }
  .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media (max-width: 767px) {
  .col-md {
    max-width: 100%;
    flex: 0 0 100%; }
  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

.btn {
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #ffffff; }
