/* ------------------------------------------------------------ *	Keyframes
\* ------------------------------------------------------------ */
@keyframes fromTop {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-70%); }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%); } }

@keyframes fromLeft {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%); } }

@keyframes fromRight {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(200%); }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%); } }

@keyframes modalPop {
  0% {
    opacity: 0;
    visibility: hidden;
    /*transform: scale(0);*/ }
  100% {
    opacity: 1;
    visibility: visible;
    /*transform: scale(1);*/ } }

@keyframes scalePop {
  0% {
    opacity: 0;
    transform: scale(0);
    visibility: hidden; }
  100% {
    opacity: 1;
    transform: scale(1);
    visibility: visible; } }

/* ------------------------------------------------------------ *	Animations triggered by js
\* ------------------------------------------------------------ */
.fromTop {
  animation: fromTop .3s;
  opacity: 1 !important;
  visibility: visible !important; }

.fromLeft {
  animation: fromLeft .3s;
  opacity: 1  !important;
  visibility: visible !important;
  transform: translateX(0%) !important; }

.fromRight {
  animation: fromRight .3s;
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateX(0%) !important; }

.modalPop {
  animation: modalPop 1s ease !important;
  opacity: 1 !important;
  visibility: visible !important; }

.scalePop {
  animation: scalePop .5s ease-in !important;
  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(1) !important; }

/* ------------------------------------------------------------ *	Universal Helpers
\* ------------------------------------------------------------ */
.full-height {
  height: 100%; }

.half-height {
  height: 50%; }

.full-width {
  width: 100%; }

.half-width {
  width: 50%; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.my-auto {
  margin: auto 0; }

.mx-auto {
  margin: 0 auto; }

.py-auto {
  padding: auto 0; }

.px-auto {
  padding: 0 auto; }

.fw-bold {
  font-weight: bold; }

.fw-bolder {
  font-weight: bolder; }

.fw-lighter {
  font-weight: lighter; }

.fw-normal {
  font-weight: normal; }

.fs-italic {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

.underlined {
  text-decoration: underline; }

/* ------------------------------------------------------------ *	Project Helpers
\* ------------------------------------------------------------ */
.mt-md {
  margin-top: 4rem !important; }

.mb-md {
  margin-bottom: 4rem !important; }

/* ------------------------------------------------------------ *	Basic Colors
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *	Project Variables
\* ------------------------------------------------------------ */
.color--white {
  color: #dadada !important; }

/* ------------------------------------------------------------ *	Button Colors
	linear-gradient(270deg,#f06449,#ef3636)


	linear-gradient(270deg,#235aa6,#101b3b)

\* ------------------------------------------------------------ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }
  @media (max-width: 1199px) {
    html {
      font-size: 62.5%; } }
  @media (max-width: 1023px) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 767px) {
    html {
      font-size: 45%; } }

a {
  text-decoration: none; }

body {
  box-sizing: border-box;
  font-family: Helvetica,Arial,sans-serif; }

ul {
  list-style: none; }

img {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  max-width: 100%;
  height: auto; }

/* ------------------------------------------------------------ *	Universal Typography 
\* ------------------------------------------------------------ */
h1 {
  font-size: 6.5rem;
  color: #ffffff;
  font-family: 'Poppins', sans-serif; }

h2 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: #dadada;
  text-transform: uppercase; }

h3 {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  color: #ffffff;
  font-weight: 100;
  letter-spacing: 2px; }

h4 {
  font-size: 3.5rem; }

h5 {
  font-size: 3rem; }

h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: bolder; }

/* ------------------------------------------------------------ *	
	font-family: 'Poppins', sans-serif;
	font-family: 'Cabin', sans-serif;

\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *	Project Typography
\* ------------------------------------------------------------ */
.modal-aboutme {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  color: #1c1d25; }
  .modal-aboutme p {
    margin-bottom: .5rem; }
  .modal-aboutme .sub-heading {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 2rem; }

/*  Header  */
.header {
  height: 102vh;
  width: 100%;
  padding: 0rem 5rem;
  position: relative;
  top: 0;
  right: 0;
  background-color: #1c1d25; }
  .header .header__socials {
    position: absolute;
    top: 50%;
    right: 2.5rem;
    transform: translateY(-50%);
    z-index: 5; }
    .header .header__socials a {
      display: block;
      font-size: 2.4rem;
      color: #b0b2c3;
      transition: all .3s; }
      .header .header__socials a:hover {
        color: #ffffff; }
    .header .header__socials a + a {
      margin-top: 3rem; }
  .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1rem;
    z-index: 10;
    position: relative;
    font-family: 'Poppins', sans-serif;
    /* test */
    opacity: 0;
    visibility: hidden;
    transform: translateX(0%); }
    .header .nav img {
      height: 13rem;
      width: 13rem;
      margin-top: 0;
      cursor: pointer;
      filter: grayscale(1) brightness(1.3); }
    .header .nav .nav__items .nav__item {
      display: inline; }
      .header .nav .nav__items .nav__item a {
        color: #b0b2c3;
        font-size: 1.8rem;
        text-transform: capitalize;
        transition: all .3s;
        /*  add the hover border effect  */ }
        .header .nav .nav__items .nav__item a:hover {
          color: #ffffff; }
    .header .nav .nav__items .nav__item + .nav__item {
      margin-left: 2rem; }
  .header .header__content {
    position: absolute;
    top: 35%;
    left: 10rem;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: ease .4s; }
  .header .header__projects {
    position: relative;
    margin-top: 4rem;
    z-index: 5;
    /*  For Onclick Function  */
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition: all .5s; }
    .header .header__projects h2 {
      margin-top: -10rem;
      -ms-transform: rotate(-30deg);
      /* IE 9 */
      -webkit-transform: rotate(-30deg);
      /* Safari */
      transform: rotate(-30deg); }
    .header .header__projects .section--logo {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: 3px;
      color: #dadada;
      text-transform: uppercase;
      z-index: 2;
      transform: rotateZ(-30deg);
      margin-left: -4rem;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
			supported by Chrome and Opera */
      cursor: default; }
    .header .header__projects .cols .col-4 {
      padding: 1rem 2.5rem;
      position: relative;
      overflow: hidden; }
      .header .header__projects .cols .col-4:hover .col-4-text {
        visibility: visible;
        opacity: 1; }
      .header .header__projects .cols .col-4:hover img {
        opacity: 0.7; }
      .header .header__projects .cols .col-4 .col-4-text {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -70%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .5s ease;
        visibility: hidden;
        /*  for the hover effect  */
        opacity: 0;
        /*  for the hover effect  */ }
        .header .header__projects .cols .col-4 .col-4-text span {
          color: #dadada;
          font-size: 1.5rem;
          font-weight: 700;
          margin-bottom: 1.5rem; }

/* ------------------------------------------------------------ *	Grid 
\* ------------------------------------------------------------ */
.cols {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.col {
  max-width: 100%;
  flex: 0 0 100%;
  padding-left: 15px;
  padding-right: 15px; }

.col-auto {
  flex-grow: 1;
  flex-shrink: 1;
  width: auto;
  max-width: none; }

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.justify-around {
  justify-content: space-around; }

.align-center {
  align-items: center; }

.d-flex {
  display: flex; }

.d-none {
  display: none; }

.d-inline {
  display: inline; }

.d-inlineb {
  display: inline-block; }

.row-reverse {
  flex-direction: row-reverse; }

.column-reverse {
  flex-direction: column-reverse; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

@media (max-width: 1199px) {
  .col-lg {
    max-width: 100%;
    flex: 0 0 100%; }
  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media (max-width: 1023px) {
  .col-sm {
    max-width: 100%;
    flex: 0 0 100%; }
  .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media (max-width: 767px) {
  .col-md {
    max-width: 100%;
    flex: 0 0 100%; }
  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

.btn {
  font-size: 1.7rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  font-family: 'Cabin', sans-serif;
  color: #dadada;
  padding: 1.2rem 2rem;
  position: relative; }
  .btn .arrow {
    position: absolute;
    top: 50%;
    right: -8%;
    font-size: 2rem !important;
    transform: translate(8%, -50%); }

.btn--primary {
  background: linear-gradient(270deg, #f06449, #ef3636); }
  .btn--primary:hover {
    background: linear-gradient(270deg, #235aa6, #101b3b);
    transition: all ease .5s; }

.btn--sm {
  font-size: 1.2rem;
  padding: .8rem 1.5rem; }

/*  Modals  */
.modal-aboutme {
  visibility: hidden;
  opacity: 0; }

#aboutme {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  text-align: center;
  background-color: #dadada;
  z-index: 100;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.55);
  overflow: hidden;
  /*transform: translateY(70%);*/
  transition: all ease .5s; }
  #aboutme .cols .col-6 {
    padding: 10rem 8rem 10rem 10rem;
    text-align: left; }
    #aboutme .cols .col-6 .underlined {
      color: #f06449;
      text-decoration: none;
      font-weight: 500; }
    #aboutme .cols .col-6 ul {
      margin-top: 3rem;
      text-align: center;
      /*transform: skewX(20deg);*/ }
      #aboutme .cols .col-6 ul li {
        display: inline-block;
        font-size: 1.4rem;
        padding: 4px 12px;
        margin-bottom: 1rem;
        background-color: #7f7f7f;
        margin-right: .5rem;
        transform: skew(25deg); }
        #aboutme .cols .col-6 ul li span {
          display: block;
          color: #eee;
          transform: skewX(-25deg) !important;
          -webkit-touch-callout: none;
          /* iOS Safari */
          -webkit-user-select: none;
          /* Safari */
          -khtml-user-select: none;
          /* Konqueror HTML */
          -moz-user-select: none;
          /* Firefox */
          -ms-user-select: none;
          /* Internet Explorer/Edge */
          user-select: none;
          /* Non-prefixed version, currently
						supported by Chrome and Opera */
          cursor: default; }
        #aboutme .cols .col-6 ul li:hover span {
          transition: all .5s;
          color: #000; }
      #aboutme .cols .col-6 ul .fa-js-square:hover {
        color: #ECD120;
        transition: color .3s; }
      #aboutme .cols .col-6 ul .fa-sass:hover {
        color: #CF649A;
        transition: color .3s; }
      #aboutme .cols .col-6 ul .fa-css3-alt:hover {
        color: #E54D26;
        transition: color .3s; }
      #aboutme .cols .col-6 ul .fa-globe:hover {
        color: #26408B;
        transition: color .3s; }
    #aboutme .cols .col-6 .parameters {
      position: absolute;
      bottom: 2rem;
      left: 6.5rem; }
      #aboutme .cols .col-6 .parameters p {
        font-size: 1.3rem; }
  #aboutme .cols .bg--white {
    text-align: justify; }
  #aboutme .cols .bg--dark {
    background-color: rgba(28, 29, 37, 0.985); }
    #aboutme .cols .bg--dark form {
      margin-bottom: 4rem; }
      #aboutme .cols .bg--dark form label {
        color: #dadada;
        letter-spacing: 2px;
        font-size: 1.1rem;
        /*margin-top: 1rem; */
        font-family: 'Poppins', sans-serif;
        padding-left: .5rem; }
      #aboutme .cols .bg--dark form input {
        margin-bottom: 2rem; }
      #aboutme .cols .bg--dark form input,
      #aboutme .cols .bg--dark form textarea {
        width: 100%;
        display: block;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 2px solid silver;
        color: #dadada;
        font-size: 1.2rem;
        padding: 8px 5px;
        font-weight: 300;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 2px;
        transition: all ease-in .5s; }
        #aboutme .cols .bg--dark form input:focus,
        #aboutme .cols .bg--dark form textarea:focus {
          border-color: #f06449; }
      #aboutme .cols .bg--dark form textarea {
        resize: none; }
    #aboutme .cols .bg--dark .modal-close {
      position: absolute;
      top: 4rem;
      right: 4rem;
      cursor: pointer; }
      #aboutme .cols .bg--dark .modal-close:hover span {
        background-color: #f06449; }
      #aboutme .cols .bg--dark .modal-close span {
        position: relative;
        left: 0;
        display: block;
        width: 3.5rem;
        height: 3px;
        margin-bottom: 7px;
        background-color: #dadada;
        border-radius: 4px;
        transition: all .3s; }
      #aboutme .cols .bg--dark .modal-close #close-one {
        transform: rotate(45deg);
        top: 43px; }
      #aboutme .cols .bg--dark .modal-close #close-two {
        transform: rotate(-45deg);
        top: 33px; }
