*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  box-sizing: border-box; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

a {
  text-decoration: none; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff; }

ul {
  list-style: none; }

img {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  max-width: 100%;
  height: auto; }

/* ------------------------------------------------------------ *	Universal Typography 
\* ------------------------------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold; }

h1 {
  font-size: 6.5rem;
  color: #fff; }

h2 {
  font-size: 3rem;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase; }

h3 {
  font-size: 2rem;
  font-style: italic;
  color: #fff;
  font-weight: 100;
  letter-spacing: 2px; }

h4 {
  font-size: 3.5rem; }

h5 {
  font-size: 3rem; }

h6 {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: bolder; }

/* ------------------------------------------------------------ *	
	font-family: 'Poppins', sans-serif;
	font-family: 'Cabin', sans-serif;

\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *	Project Typography
\* ------------------------------------------------------------ */
.modal-aboutme {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif; }
  .modal-aboutme p {
    margin-bottom: .5rem; }
  .modal-aboutme .sub-heading {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 2rem; }

.header {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 20px; }

/* ------------------------------------------------------------ *	Nav
\* ------------------------------------------------------------ */
.nav {
  font-size: 18px;
  color: #b0b2cb; }

.nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.nav li + li {
  margin-left: 40px; }

.nav .link {
  position: relative;
  display: block;
  padding-bottom: 5px;
  color: inherit;
  font-weight: inherit;
  font-weight: 600;
  transition: color .3s;
  letter-spacing: 0.01em; }

.nav .link:hover {
  color: #fff; }

.nav .link:before,
.nav .link:after {
  content: '';
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 0; }

.nav .link:before {
  background: #235aa6;
  transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
  z-index: 1; }

.nav .link:after {
  background: #f25757;
  transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1);
  z-index: 2; }

.nav .link:hover:before,
.nav .link:hover:after {
  width: 100%;
  left: 0; }

/* ------------------------------------------------------------ *	ALL
\* ------------------------------------------------------------ */
.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.cover {
  position: relative;
  padding-top: 130px;
  overflow: hidden;
  font-size: 20px;
  color: #fff;
  font-style: italic; }
  .cover .cover-inner {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(600px - 130px);
    height: calc(100vh - 130px); }
  .cover .cover-title {
    margin-bottom: 20px; }
  .cover .cover-entry {
    margin-bottom: 30px; }
  .cover .cover-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    .cover .cover-video:after {
      content: '';
      position: absolute;
      z-index: 5;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(28, 29, 37, 0.7); }
    .cover .cover-video video {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0; }
  .cover .cover-content {
    position: relative;
    z-index: 20; }
  .cover .hero-go-next {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transform-style: preserve-3d;
    bottom: -10px;
    padding: 40px 20px;
    color: #fff;
    backface-visibility: hidden;
    transition: opacity .35s ease .7s;
    z-index: 7; }
    .cover .hero-go-next .go-next-label {
      font-style: normal;
      font-size: 15.5px;
      text-align: center; }
    .cover .hero-go-next .the-arrow {
      top: 14px !important;
      left: 3px;
      width: 45px; }
    .cover .hero-go-next .the-arrow:after,
    .cover .hero-go-next .the-arrow:before {
      top: 0;
      transform: rotate(0); }
    .cover .hero-go-next:hover .the-arrow {
      height: 2px;
      margin-left: 5px !important;
      top: 2px !important;
      opacity: 1;
      width: 36px; }
    .cover .hero-go-next:hover .the-arrow:before {
      height: 2px;
      top: -3px;
      -webkit-transform: rotate(-40deg);
      transform: rotate(-40deg); }
    .cover .hero-go-next:hover .the-arrow:after {
      height: 2px;
      top: 3px;
      -webkit-transform: rotate(40deg);
      transform: rotate(40deg); }

/* ------------------------------------------------------------ *	The Arrow
\* ------------------------------------------------------------ */
.the-arrow {
  position: relative;
  display: inline-block;
  background: #f3f3f3;
  opacity: .8;
  height: 1px;
  width: 33px;
  top: -3px;
  transition: all .3s; }

.the-arrow.arrow-down {
  top: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.the-arrow:after, .the-arrow:before {
  opacity: 1;
  content: "";
  position: absolute;
  background: #f3f3f3;
  height: 1px;
  width: 10px;
  left: -1px;
  margin-right: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all .3s; }

.the-arrow:before {
  top: -3px;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg); }

.the-arrow:after {
  top: 3px;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg); }

/* ------------------------------------------------------------ *	Logo
\* ------------------------------------------------------------ */
.logo img {
  height: 13rem;
  width: 13rem;
  cursor: pointer;
  filter: grayscale(1) brightness(2); }

/* ------------------------------------------------------------ *	Container
\* ------------------------------------------------------------ */
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px; }

@media only screen and (max-width: 41.25em) {
  .container {
    padding: 0 30px !important; } }

@media only screen and (max-width: 25em) {
  .container {
    padding: 0 35px !important; } }

/* ------------------------------------------------------------ *	Btn
\* ------------------------------------------------------------ */
.btn {
  font-size: .725em;
  letter-spacing: 3px;
  padding: 12px 20px;
  background-color: #f06449;
  background: linear-gradient(270deg, #f06449, #ef3636);
  color: #fff;
  position: relative;
  font-style: normal;
  transition: all .3s;
  overflow: visible;
  border: none;
  cursor: pointer; }
  .btn .btn-text {
    position: relative;
    z-index: 10; }
  .btn .btn-mask {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .btn .btn-mask:after,
  .btn .btn .btn-mask:before {
    will-change: transform; }
  .btn .btn-mask:before {
    width: 100%;
    background-color: #1b2e63;
    background: linear-gradient(270deg, #235aa6, #101b3b);
    transition: -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
    transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
    transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s, -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
    z-index: 1; }
  .btn .btn-mask:after,
  .btn .btn .btn-mask:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-transform: translateX(-110%);
    transform: translateX(-110%); }
  .btn .btn-mask:after {
    width: 80%;
    background-color: #26408b;
    background: linear-gradient(270deg, #235aa6, #213777);
    transition: -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1);
    z-index: 2; }
  .btn .btn-icon {
    position: absolute;
    top: 3px;
    right: -25px;
    width: 35px;
    height: 35px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1); }
  .btn .btn-icon svg {
    width: 35px;
    height: 35px; }
  .btn .btn-icon svg path {
    fill: #484b5f; }
  .btn .btn-icon svg path {
    fill: #fff; }
  .btn:hover .btn-mask:before {
    transition: -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
    transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
    transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s, -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s; }
  .btn:hover .btn-mask:after {
    transition: -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1); }
  .btn:hover .btn-mask:after, .btn .btn:hover .btn-mask:before {
    -webkit-transform: translateX(200%);
    transform: translateX(200%); }
  .btn:hover .btn-icon {
    -webkit-transform: translateX(7px);
    transform: translateX(7px); }

/* ------------------------------------------------------------ *	Case Study
\* ------------------------------------------------------------ */
.case-studies-list {
  margin: 0;
  padding: 0 0 80px 0;
  list-style: none; }

.case-studies-list li {
  margin-bottom: 135px; }

.case-studies-list li:last-child {
  margin-bottom: 0; }

.case-studies-list .case-study {
  display: block;
  width: 100%;
  height: 100%;
  width: 80%;
  opacity: 1;
  height: 480px;
  /*background-color:#1c1d25;*/
  position: relative;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
  margin-left: auto;
  margin-right: auto;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .35s ease; }

.case-studies-list .case-study .btn {
  font-size: 15px; }

.case-studies-list .case-study .case-study-title {
  font-size: 50px;
  font-weight: 500; }

.case-studies-list .case-study .case-study-subtitle {
  font-size: 27px;
  font-weight: normal;
  font-style: italic; }

.case-studies-list .case-study:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: block;
  content: " ";
  background: #1c1d25;
  opacity: .6;
  transition: opacity .3s ease;
  z-index: 2; }

.case-studies-list .case-study .case-study-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0; }

.case-studies-list .case-study .case-study-mask:after {
  content: "";
  position: absolute;
  top: 0;
  opacity: 1;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 29, 37, 0.9);
  background: linear-gradient(270deg, rgba(35, 90, 166, 0.9), rgba(16, 27, 59, 0.9));
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: opacity 0.2s, -webkit-transform 0.35s cubic-bezier(0.694, 0.048, 0.335, 1) 0.2s;
  transition: transform 0.35s cubic-bezier(0.694, 0.048, 0.335, 1) 0.2s, opacity 0.2s;
  transition: transform 0.35s cubic-bezier(0.694, 0.048, 0.335, 1) 0.2s, opacity 0.2s, -webkit-transform 0.35s cubic-bezier(0.694, 0.048, 0.335, 1) 0.2s;
  z-index: 9; }

.case-studies-list .case-study .case-study-reveal-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 100; }

.case-studies-list .case-study .case-study-reveal-mask:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  background: linear-gradient(270deg, #235aa6, #101b3b);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: -webkit-transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
  transition: transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
  transition: transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s, -webkit-transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
  z-index: 101; }

.case-studies-list .case-study .case-study-mask-number {
  font-size: 16em;
  display: none; }

.case-studies-list .case-study .case-study-text-section {
  position: absolute;
  left: 90px;
  bottom: 90px;
  color: #fff;
  z-index: 10;
  max-width: 550px;
  -webkit-transform: scale(1) translateX(0);
  transform: scale(1) translateX(0);
  transition: opacity .25s,-webkit-transform .45s;
  transition: transform .45s,opacity .25s;
  transition: transform .45s,opacity .25s,-webkit-transform .45s; }

.case-studies-list .case-study .case-study-subtitle {
  font-family: LibreBaskerville-Regular,Palatino Linotype,Times New Roman,serif;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px; }

.case-studies-list li:nth-child(even) .case-study .case-study-text-section {
  left: auto;
  text-align: right;
  right: 90px; }

.case-studies-list li:nth-child(even) .case-study .case-study-mask-number {
  right: auto;
  left: -45px; }

.case-studies-list li:last-child .case-study {
  margin-bottom: 0; }

@media only screen and (min-width: 64em) {
  .case-studies-list li:nth-child(even) .case-study {
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px); }
  .case-studies-list li:nth-child(odd) .case-study {
    -webkit-transform: translateX(25px);
    transform: translateX(25px); }
  .case-studies-list .case-study .case-study-mask-number {
    display: block;
    position: absolute;
    top: -40px;
    right: -45px;
    width: 265px;
    height: 198px;
    font-size: 11.5625em;
    overflow: hidden;
    font-family: League Spartan,Helvetica,Arial,sans-serif;
    color: #99999d;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0;
    transition: opacity 0.3s, -webkit-transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: opacity 0.3s, transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: opacity 0.3s, transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
    z-index: 90; }
  .case-studies-list .case-study .case-study-mask-back, .case-studies-list .case-study .case-study-mask-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .case-studies-list .case-study .case-study-mask-overlay {
    overflow: hidden;
    position: relative;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    color: transparent; }
  .case-studies-list .case-study .case-study-mask-overlay, .case-studies-list .case-study .case-study-mask-overlay:before {
    transition: -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0s;
    transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0s;
    transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0s, -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0s; }
  .case-studies-list .case-study .case-study-mask-overlay:before {
    content: attr(data-index);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    text-shadow: 5px 5px 11px rgba(74, 74, 74, 0.5);
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  .case-studies-list .case-study .case-study-text-section {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    transition-delay: .4s; }
  .case-studies-list .case-study:hover {
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.65); }
  .case-studies-list .case-study:hover .case-study-mask:after {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .case-studies-list .case-study:hover .case-study-mask-number {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  .case-studies-list .case-study:hover .case-study-mask-overlay, .case-studies-list .case-study:hover .case-study-mask-overlay:before {
    transition-delay: .4s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); }
  .case-studies-list .case-study:hover .case-study-text-section {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  .case-studies-list .case-study.is-hidden .case-study-reveal-mask:after {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .case-studies-list .case-study.is-hidden .case-study-text-section {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; } }

@media only screen and (max-width: 56.25em) {
  .case-studies-list .case-study {
    width: 90%;
    height: 420px; } }

@media only screen and (max-width: 41.25em) {
  .case-studies-list .case-study {
    height: 340px;
    margin-bottom: 60px; }
  .case-studies-list .case-study .case-study-text-section {
    left: 45px;
    bottom: 60px;
    max-width: 500px; }
  .case-studies-list .case-study .case-study-subtitle {
    font-size: .75em; }
  .case-studies-list li:nth-child(even) .case-study .case-study-text-section {
    right: 45px; } }

@media only screen and (max-width: 25em) {
  .case-studies-list .case-study {
    width: 95%;
    height: 290px; }
  .case-studies-list .case-study .case-study-title {
    font-size: 2.725em; }
  .case-studies-list .case-study .case-study-subtitle {
    font-size: 1.725em;
    font-weight: 100;
    opacity: .8; }
  .case-studies-list .case-study .case-study-text-section {
    left: 25px;
    bottom: 50px; }
  .case-studies-list .case-study .btn {
    font-size: 0.9125em;
    padding: 12px 20px; }
    .case-studies-list .case-study .btn .btn-icon {
      top: 1px; } }

/* Styling Section*/
.section-heading {
  text-align: center;
  margin-top: 35px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 100px; }
  .section-heading .heading {
    font-size: 12px;
    color: #b19386;
    margin-bottom: 25px; }
  .section-heading .subheading {
    color: #4a4a4a;
    font-size: 28px;
    font-weight: 800; }

/* Experiments*/
.experiments-container {
  width: 100%;
  position: relative; }
  .experiments-container .inner-container:after {
    content: '';
    clear: both; }
  .experiments-container .inner-container .experiment {
    backface-visibility: hidden;
    display: block;
    float: left;
    clear: none;
    width: 25%;
    margin-left: 0;
    margin-right: 0;
    height: 418px;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.15);
    transition: all .45s ease; }
    .experiments-container .inner-container .experiment:nth-child(1) .experiment-number-area:after {
      content: '01'; }
    .experiments-container .inner-container .experiment:nth-child(2) .experiment-number-area:after {
      content: '02'; }
    .experiments-container .inner-container .experiment:nth-child(3) .experiment-number-area:after {
      content: '03'; }
    .experiments-container .inner-container .experiment:nth-child(4) .experiment-number-area:after {
      content: '04'; }
    .experiments-container .inner-container .experiment .experiment-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fce0db;
      transition: 0.4s cubic-bezier(0.52, 0.01, 0.16, 1);
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      z-index: 1; }
    .experiments-container .inner-container .experiment .experiment-circle {
      display: block;
      position: relative;
      width: 100%;
      z-index: 10; }
      .experiments-container .inner-container .experiment .experiment-circle .experiment-img {
        width: 230px;
        height: 230px;
        background-color: #1c1d25;
        border-radius: 50%;
        display: block;
        margin: 45px auto 30px;
        box-shadow: 0 15px 40px 1px rgba(0, 0, 0, 0.15);
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        transform: scale(1);
        transition: transform .3s ease,-webkit-transform .3s ease; }
      .experiments-container .inner-container .experiment .experiment-circle .experiment-img-1 {
        background-image: url(images/temp/experiment-brick.png); }
    .experiments-container .inner-container .experiment .experiment-title-area {
      position: absolute;
      top: 85%;
      left: 12%;
      text-align: left;
      z-index: 10;
      color: #1c1d25; }
      .experiments-container .inner-container .experiment .experiment-title-area .experiment-title-label {
        position: relative;
        font-size: .925em;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700; }
        .experiments-container .inner-container .experiment .experiment-title-area .experiment-title-label:before {
          content: '';
          position: absolute;
          top: .6em;
          left: -12px;
          height: 1px;
          background-color: #1c1d25;
          width: 7px; }
      .experiments-container .inner-container .experiment .experiment-title-area .experiment-title {
        font-weight: 500;
        margin-top: 3px;
        font-size: 1.175em; }
    .experiments-container .inner-container .experiment .experiment-number-area {
      position: absolute;
      top: 90%;
      right: 10%;
      transform: rotate(90deg);
      z-index: 10; }
      .experiments-container .inner-container .experiment .experiment-number-area:before, .experiments-container .inner-container .experiment .experiment-number-area:after {
        position: absolute;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        right: 112%;
        transition: 0.45s cubic-bezier(0.52, 0.01, 0.16, 1); }
      .experiments-container .inner-container .experiment .experiment-number-area:before {
        content: "";
        top: 45%;
        height: 2px;
        background-color: #1c1d25;
        width: 30px; }
      .experiments-container .inner-container .experiment .experiment-number-area:after {
        margin-top: -4px;
        top: 5px;
        /*content: '01';*/
        text-align: right;
        font-size: 8px;
        font-weight: 700;
        padding-right: 40px; }
    .experiments-container .inner-container .experiment:hover .experiment-mask {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      transition-delay: .25s; }
    .experiments-container .inner-container .experiment:hover .experiment-number-area:before {
      -webkit-transform: scaleX(1.3);
      transform: scaleX(1.3); }
    .experiments-container .inner-container .experiment:hover .experiment-number-area:after {
      -webkit-transform: translateX(-15px);
      transform: translateX(-15px);
      transition-delay: .12s; }

.experiments-container::after {
  content: '';
  clear: both; }

@media only screen and (max-width: 56.25em) {
  .experiment {
    width: 50% !important; } }

@media only screen and (max-width: 25em) {
  .experiment {
    width: 100% !important; } }

.footer {
  background-color: #1c1d25;
  width: 100%;
  padding: 8% 0;
  text-align: center; }
  .footer .logo--white {
    filter: grayscale(1) brightness(1.5) !important; }
  .footer .footer-content {
    font-size: 1.5em; }
    .footer .footer-content ul {
      margin-bottom: 15px; }
      .footer .footer-content ul a {
        position: relative;
        color: #f3f3f3;
        font-size: 1.125em;
        padding-bottom: 4px;
        font-weight: 600;
        letter-spacing: 0.01em;
        transition: color .3s; }
        .footer .footer-content ul a:hover {
          color: #fff; }
      .footer .footer-content ul a:before,
      .footer .footer-content ul a:after {
        content: '';
        position: absolute;
        left: auto;
        right: 0;
        bottom: 0;
        height: 3px;
        width: 0; }
      .footer .footer-content ul a:before {
        background: #235aa6;
        transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
        z-index: 1; }
      .footer .footer-content ul a:after {
        background: #f25757;
        transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1);
        z-index: 2; }
      .footer .footer-content ul a:hover:before,
      .footer .footer-content ul a:hover:after {
        width: 100%;
        left: 0; }
      .footer .footer-content ul a + a {
        margin-left: 30px; }
  .footer .footer-copy {
    color: #f3f3f3;
    opacity: .8;
    font-size: 0.75em; }
    .footer .footer-copy a {
      color: #f3f3f3; }

@media only screen and (max-width: 25em) {
  .footer {
    padding: 8% 3%; }
    .footer .footer-content ul a + a {
      margin-left: 12px !important; } }

/*  Modals  */
.modal-aboutme {
  visibility: hidden;
  opacity: 0; }

.modal-open {
  visibility: visible !important;
  opacity: 1 !important; }

#background-link {
  display: none;
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red; }

#aboutme {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  text-align: center;
  /*background-color: rgba(28,29,37,.985);*/
  z-index: 1000;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.55);
  overflow: hidden;
  /*transform: translateY(70%);*/
  transition: all ease .5s;
  display: flex; }
  #aboutme .bg--white,
  #aboutme .bg--dark {
    width: 50%;
    padding: 10rem 8rem 10rem 10rem;
    text-align: left; }
    #aboutme .bg--white .underlined,
    #aboutme .bg--dark .underlined {
      color: #f06449;
      text-decoration: none;
      font-weight: 500; }
  #aboutme .bg--white {
    text-align: justify;
    position: relative;
    overflow: hidden;
    background-color: #f2f2f2;
    /*Animation*/
    transform: translateY(200%);
    transition: transform .5s ease; }
    #aboutme .bg--white .background-text {
      position: absolute;
      top: -5rem;
      left: 7rem;
      font-size: 20rem;
      font-weight: 700;
      opacity: .1; }
    #aboutme .bg--white p {
      font-weight: 300;
      line-height: 1.3125em;
      font-size: 1.025em; }
    #aboutme .bg--white ul {
      margin-top: 40px;
      text-align: center;
      /*transform: skewX(20deg);*/ }
      #aboutme .bg--white ul li {
        display: inline-block;
        font-size: 1.4rem;
        padding: 4px 12px;
        margin-bottom: 1rem;
        background-color: #7f7f7f;
        margin-right: .5rem;
        transform: skew(25deg); }
        #aboutme .bg--white ul li span {
          display: block;
          color: #eee;
          transform: skewX(-25deg) !important;
          -webkit-touch-callout: none;
          /* iOS Safari */
          -webkit-user-select: none;
          /* Safari */
          -khtml-user-select: none;
          /* Konqueror HTML */
          -moz-user-select: none;
          /* Firefox */
          -ms-user-select: none;
          /* Internet Explorer/Edge */
          user-select: none;
          /* Non-prefixed version, currently
						supported by Chrome and Opera */
          cursor: default; }
        #aboutme .bg--white ul li:hover span {
          transition: all .5s;
          color: #000; }
    #aboutme .bg--white .parameters {
      position: absolute;
      bottom: 2rem;
      left: 6.5rem; }
      #aboutme .bg--white .parameters p {
        font-size: 1.3rem; }
  #aboutme .bg--dark {
    background-color: #1c1d25;
    color: #dadada;
    position: relative;
    overflow: hidden;
    /*Animation*/
    transform: translateY(-200%);
    transition: transform .5s ease; }
    #aboutme .bg--dark h6 {
      margin-bottom: 15px; }
    #aboutme .bg--dark .background-text {
      color: #fff;
      position: absolute;
      bottom: -2rem;
      left: -2rem;
      font-size: 17rem;
      font-weight: 700;
      opacity: .1; }
    #aboutme .bg--dark form {
      margin-bottom: 4rem;
      z-index: 3; }
      #aboutme .bg--dark form label {
        color: #dadada;
        letter-spacing: 2px;
        font-size: 1.1rem;
        /*margin-top: 1rem; */
        padding-left: .5rem; }
      #aboutme .bg--dark form input {
        margin-bottom: 2rem; }
      #aboutme .bg--dark form input,
      #aboutme .bg--dark form textarea {
        width: 100%;
        display: block;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 2px solid silver;
        padding: 8px 5px;
        color: #f06449;
        font-size: 1.2rem;
        font-weight: 300;
        z-index: 6;
        letter-spacing: 2px;
        transition: all ease-in .5s; }
        #aboutme .bg--dark form input:focus,
        #aboutme .bg--dark form textarea:focus {
          border-color: #f06449; }
      #aboutme .bg--dark form textarea {
        resize: none; }
    #aboutme .bg--dark .modal-close {
      position: absolute;
      top: 4rem;
      right: 4rem;
      cursor: pointer;
      width: 38px;
      height: 38px; }
      #aboutme .bg--dark .modal-close:hover span {
        background-color: #f06449; }
      #aboutme .bg--dark .modal-close span {
        position: relative;
        left: 0;
        display: block;
        width: 3.5rem;
        height: 3px;
        margin-bottom: 7px;
        background-color: #e3d8d3;
        border-radius: 4px;
        transition: all .3s; }
      #aboutme .bg--dark .modal-close #close-one {
        transform: rotate(45deg);
        top: 43px; }
      #aboutme .bg--dark .modal-close #close-two {
        transform: rotate(-45deg);
        top: 33px; }
