
.btn{
	display: inline-block;
	font-size: 1.7rem;
	letter-spacing: 2px;
	text-transform: capitalize; 
	text-align: center;
	vertical-align: center;
	font-family: 'Cabin', sans-serif;
	color: $color-text;
	padding: 1.2rem 2rem;
	position: relative;
	overflow: hidden;
	transition: all .3s;

	.arrow{
		position: absolute;
		top: 50%;
		right: -8%;
		font-size: 2rem !important; 
		transform: translate(8%, -50%);

	}
}

.btn--primary{
	padding-left: 0 !important; 
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 2.3rem;  
	background: -webkit-linear-gradient(270deg,#f06449,#ef3636);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

.btn--sm{
	font-size: 1.2rem ; 
	padding: .8rem 1.5rem
}


