.footer{
	background-color: #1c1d25;
	width: 100%;
	padding: 8% 0; 
	text-align: center;
	/*Making it with higher brightness and removing colors*/
	.logo--white{
		filter: grayscale(1) brightness(1.5) !important;
	}
	/*Container*/
	.footer-content{
		font-size: 1.5em; 
		ul{
			margin-bottom: 15px; 

			a{
				position: relative;
				color: #f3f3f3; 
				font-size: 1.125em; 
				padding-bottom: 4px;
				font-weight: 600; 
				letter-spacing: 0.01em; 
				transition: color .3s; 

				&:hover{
					color: #fff;
				}
			}

			a:before,
			a:after { 
				content: ''; 
				position: absolute; 
				left: auto; 
				right: 0; 
				bottom: 0; 
				height: 3px; 
				width: 0; 
			}

			a:before { 
				background: #235aa6; 
				transition: all .25s cubic-bezier(.694,.048,.335,1) .15s; 
				z-index: 1;  
			}

			a:after { 
				background: #f25757; 
				transition: all .25s cubic-bezier(.694,.048,.335,1); 
				z-index: 2; 
			}

			a:hover:before,
			a:hover:after { 
				width: 100%; left: 0; 
			}

			a+a{ 
				margin-left: 30px; 
			}
		}
	}
	.footer-copy{
		color: #f3f3f3;
		opacity: .8;
		font-size: 0.75em;  
		
		a{
			color: #f3f3f3;
		}
	}
}

/*Media Query for Mobile*/
@media only screen and (max-width:25em){
	.footer{
		padding: 8% 3%; 
		.footer-content{
			ul{
				a+a{ 
					margin-left: 12px !important; 
				}
			}
		}
	}
}