/*  Modals  */


#aboutme{
	position: absolute;
	top: 50%; left: 50%; 
	transform: translate(-50%,-50%);
 	width: 90vw; 
 	text-align: center;
	background-color: $color-text;
	z-index: 100; 
	box-shadow: 0 20px 80px 0 rgba(0,0,0,.55);

	.cols{
		.col-6{
			padding: 10rem 8rem;
			text-align: left;

			ul{
				margin-top: 3rem;
				text-align: center;

				li{
					display: inline;
					font-size: 4rem; 

				} 
				.fa-js-square:hover{ color: #ECD120; transition: color .3s; }
				.fa-sass:hover{ color:#CF649A;   transition: color .3s;}
				.fa-css3-alt:hover{ color:  #E54D26;  transition: color .3s;}
				.fa-globe:hover{ color: #26408B ; transition: color .3s;}

				li+li{ margin-left: 2rem;  }
			}

			.parameters{
				position: absolute;
				bottom: 2rem; left: 6.5rem; 
				p{font-size: 1.3rem; }
			}
		}

		.bg--white{

		}
		.bg--dark{
			background-color:  rgba(28,29,37,.985);
		}
	}
}