/*  Modals  */
.modal-aboutme{
	visibility: hidden;
	opacity: 0; 
}

/*Class Open*/
.modal-open{
	visibility: visible !important;
	opacity: 1 !important; 
}

/*Modal*/
.modal-aboutme{
	position: fixed;
	left: 0; 
	top: 0; 
	bottom: 0; 
 	width: 100%; 
 	margin: 0;
 	text-align: center;
	z-index: 1000; 
	overflow: hidden;
	transition: all ease .5s;
	font-size: 15px;
	display: flex;
	align-items: center;

	.modal-backdrop {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		z-index: 10;
	}

	.modal-inner {
		position: relative;
		z-index: 20;
		padding: 2% 0;
		display: flex;
		width: 90vw;
		margin: 0 auto;
	}

	.bg--white,
	.bg--dark{
		flex-grow: 0;
		flex-shrink: 0;
		width: 50%;
		padding: 10rem 8rem 10rem 10rem;
		text-align: left;

		.underlined{
			color: #f06449;
			text-decoration: none;
			font-weight: 500; 
		}
	}
	h6{
		margin-bottom: 22px; 
	}
	.sub-heading{
		margin-bottom: 20px;
		font-size: .825em;
		font-weight: 100;
		font-style: italic;   
	}
	
	/*Modal with White Background*/
	.bg--white{
		text-align: justify;
		position: relative;
		overflow: hidden;
		background-color: #f2f2f2; 
		/*Animation*/
		transform: translateY(200%);
		transition: transform .5s ease;

		.background-text{
			position: absolute; 
			top: -5rem; left: 7rem;
			font-size: 20rem;
			font-weight: 700;
			opacity: .1;   
		}
		p{
			font-weight: 300;
			line-height: 1.3125em;
			font-size: 1.025em; 
			margin-bottom: 5px;   
		}
		ul{
				margin-top: 40px;
				text-align: center;
			    /*transform: skewX(20deg);*/

				li{
					display: inline-block;
					font-size: 1.4rem; 
					padding: 4px 12px;
					margin-bottom: 1rem ; 
					background-color: #7f7f7f;
					margin-right: .5rem; 
					transform: skew(25deg);
					
					span{
						display: block;
						color: #eee;
				    	transform: skewX(-25deg) !important;
				    	-webkit-touch-callout: none; /* iOS Safari */
						-webkit-user-select: none; /* Safari */
						-khtml-user-select: none; /* Konqueror HTML */
						-moz-user-select: none; /* Firefox */
						-ms-user-select: none; /* Internet Explorer/Edge */
						user-select: none; /* Non-prefixed version, currently
						supported by Chrome and Opera */
						cursor: default;
					}

					&:hover{
						span{
							transition: all .5s;
							color: #000;
						}
					}
				} 
			}
		.parameters{
			position: absolute;
			bottom: 2rem; left: 6.5rem; 
			p{
				font-size: 1.3rem; 
			}
		}
	}

	/*Modal with Black Background*/
	.bg--dark{
		background-color: rgb(28,29,37);
		color: #dadada;
		position: relative;
		overflow: hidden;

		/*Animation*/
		transform: translateY(-200%);
		transition: transform .5s ease;

		.background-text{
			color: #fff;
			position: absolute; 
			bottom: -2rem; left: -2rem;
			font-size: 17rem;
			font-weight: 700;
			opacity: .1;   
		}
		form{ 
			z-index: 3; 
			.form-body {
				margin-bottom: 4rem;
			}
			label{
				color: #dadada;
				letter-spacing: 2px;
				font-size: 1.1rem;
				/*margin-top: 1rem; */
				padding-left: .5rem;  
			}
			input{
				margin-bottom: 2rem; 
			}
			input,
			textarea{ 
				width: 100%;
				display: block;
				background-color: transparent;
				border: none; outline: none;
				border-bottom: 2px solid silver;
				padding: 8px 5px;
				color: #f06449;
				font-size: 1.2rem;
				font-weight: 300;
				z-index: 6;  
				letter-spacing: 2px; 
				transition: all ease-in .5s;
				
				&:focus{
					border-color: #f06449;
				}
			}
			textarea{
				resize: none;

			}
		}

		.modal-close{
			position: absolute; 
			top: 4rem; right: 4rem;
			cursor: pointer;
			width: 38px; height: 38px;

			&:hover{
				span{ background-color: #f06449; }
			}

			span{
				position: relative; 
				left: 0;
				display: block;
				width: 3.5rem; height: 3px;
				margin-bottom: 7px;
				background-color: #e3d8d3;
				border-radius: 4px;
				transition: all .3s;
			}
			#close-one{
				transform: rotate(45deg);
				top: 16px;
			}
			#close-two{
				transform: rotate(-45deg);
				top: 6px;
			}
		}
	}
}

/*Media Query Tablet 53.125em / 850px*/
@media only screen and (max-width: 53.125em){
	.modal-aboutme{
	 	width: 100vw; 
		height: 100%;
		overflow-y: auto;
		margin: 0;
		display: block;

		.modal-inner {
			flex-direction: column-reverse;
			width: 100vw;
		}

		.bg--white{
			width: 100%;
		}
		.bg--dark{
			width: 100%;
		}
	}
}
/*Media Query Tablet 28.75em / 460 px*/
@media only screen and (max-width: 53.125em){
	.modal-aboutme{

		.bg--white{
			padding: 80px 40px;
		}

		.bg--dark{
			padding: 80px 40px;
		}
	}
}