/*  Modals  */

.modal-aboutme{
	visibility: hidden;
	opacity: 0; 
}


#aboutme{
	position: absolute;
	top: 50%; left: 50%; 
	transform: translate(-50%,-50%);
 	width: 90vw; 
 	text-align: center;
	background-color: $color-text;
	z-index: 100; 
	box-shadow: 0 20px 80px 0 rgba(0,0,0,.55);
	overflow: hidden;
	/*transform: translateY(70%);*/
	transition: all ease .5s;

	.cols{
		.col-6{
			padding: 10rem 8rem 10rem 10rem;
			text-align: left;
			
			.underlined{
				color: $color-primary;
				text-decoration: none;
				font-weight: 500; 
			}

			ul{
				margin-top: 3rem;
				text-align: center;
			    /*transform: skewX(20deg);*/

				li{
					display: inline-block;
					font-size: 1.4rem; 
					padding: 4px 12px;
					margin-bottom: 1rem ; 
					background-color: #7f7f7f;
					margin-right: .5rem; 
					transform: skew(25deg);
					
					span{
						display: block;
						color: #eee;
				    	transform: skewX(-25deg) !important;
				    	-webkit-touch-callout: none; /* iOS Safari */
						-webkit-user-select: none; /* Safari */
						-khtml-user-select: none; /* Konqueror HTML */
						-moz-user-select: none; /* Firefox */
						-ms-user-select: none; /* Internet Explorer/Edge */
						user-select: none; /* Non-prefixed version, currently
						supported by Chrome and Opera */
						cursor: default;
					}

					&:hover{
						span{
							transition: all .5s;
							color: #000;
						}
					}

				} 
				.fa-js-square:hover{ color: #ECD120; transition: color .3s; }
				.fa-sass:hover{ color:#CF649A;   transition: color .3s;}
				.fa-css3-alt:hover{ color:  #E54D26;  transition: color .3s;}
				.fa-globe:hover{ color: #26408B ; transition: color .3s;}

			}

			.parameters{
				position: absolute;
				bottom: 2rem; left: 6.5rem; 
				p{font-size: 1.3rem; }
			}
		}

		.bg--white{
			text-align: justify;

		}
		.bg--dark{
			background-color:  rgba(28,29,37,.985);

			form{
				margin-bottom: 4rem; 
				label{
					color: $color-text;
					letter-spacing: 2px;
					font-size: 1.1rem;
					/*margin-top: 1rem; */
					font-family: 'Poppins', sans-serif;  
					padding-left: .5rem;  
				}
				input{
					margin-bottom: 2rem; 
				}
				input,
				textarea{
					width: 100%;
					display: block;
					background-color: transparent;
					border: none; outline: none;
					border-bottom: 2px solid silver;
					color: $color-text;
					font-size: 1.2rem;
					padding: 8px 5px;
					font-weight: 300;
					font-family: 'Poppins', sans-serif; 
					letter-spacing: 2px; 
					transition: all ease-in .5s;
					
					&:focus{
						border-color: $color-primary;
					}
				}
				textarea{
					resize: none;

				}
			}

			.modal-close{
				position: absolute; 
				top: 4rem; right: 4rem;
				cursor: pointer;

				&:hover{
					span{ background-color: $color-primary; }
				}

				span{
					position: relative; 
					left: 0;
					display: block;
					width: 3.5rem; height: 3px;
					margin-bottom: 7px;
					background-color: $color-text;
					border-radius: 4px;
					transition: all .3s;
				}
				#close-one{
					transform: rotate(45deg);
					top: 43px;
				}
				#close-two{
					transform: rotate(-45deg);
					top: 33px;
				}
			}
		}
	}
}