/*Navbar on header*/
.nav { 
	font-size: 18px; 
	color: #b0b2cb; 

	ul{
		display: flex; 
		justify-content: flex-end; 
		align-items: center;

		li+li{
			margin-left: 40px;
		}
		.link { 
			position: relative; 
			display: block; 
			padding-bottom: 5px; 
			color: inherit; 
			font-weight: inherit; 
			font-weight: 600; 
			transition: color .3s; 
			letter-spacing: 0.01em; 
			
			&:hover{
				color: #fff;

				&:before,
				&:after{
					width: 100%; 
					left: 0;
				}
			}
			/*Styling the bb-effect on hover*/
			&:before,
			&:after{
				content: ''; 
				position: absolute; 
				left: auto; 
				right: 0; 
				bottom: 0; 
				height: 3px; 
				width: 0; 
			}
			&:before{
				 background: #235aa6; 
				 transition: all .25s cubic-bezier(.694,.048,.335,1) .15s; 
				 z-index: 1;
			}
			&:after{
				background: #f25757; 
				transition: all .25s cubic-bezier(.694,.048,.335,1); 
				z-index: 2;
			}
		}
	}
}