/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav { font-size: 18px; color: #b0b2cb; }

.nav ul { display: flex; justify-content: flex-end; align-items: center; }

.nav li + li { margin-left: 40px; }

.nav a { position: relative; display: block; padding-bottom: 5px; color: inherit; font-weight: inherit; font-weight: 600; transition: color .3s; letter-spacing: 0.01em; }
.nav a:hover { color: #fff; }

.nav a:before,
.nav a:after { content: ''; position: absolute; left: auto; right: 0; bottom: 0; height: 3px; width: 0; }

.nav a:before { background: #235aa6; transition: all .25s cubic-bezier(.694,.048,.335,1) .15s; z-index: 1;  }

.nav a:after { background: #f25757; transition: all .25s cubic-bezier(.694,.048,.335,1); z-index: 2; }

.nav a:hover:before,
.nav a:hover:after { width: 100%; left: 0; }