/*Header logo + navbar*/
.header {
	position: absolute;
	z-index: 1000; 
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px 0 20px;

    .close-trigger,
    .menu-trigger {
        display: none;
        width: 42px;
        height: 22px;
    }
}

/*For Mobile Nav Trigger*/
@media(max-width: 767px){
    .header {
        .close-trigger,
        .menu-trigger {
            display: block;
        }
        /*Navbar container*/
        .header-content {
            position: fixed; 
            z-index: -1;
            overflow: hidden; 
            left: 0; 
            top: 0; 
            width: 100%; 
            height: 100%;
            opacity: 0;
            visibility: hidden; 
            transition: all .1s ease .5s;

            &:after,
            &:before{
                content:"";
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                -webkit-transform:translateX(-100%);
                transform:translateX(-100%);
                transition:-webkit-transform .45s cubic-bezier(.694,.048,.335,1);
                transition:transform .45s cubic-bezier(.694,.048,.335,1);
                transition:transform .45s cubic-bezier(.694,.048,.335,1),-webkit-transform .45s cubic-bezier(.694,.048,.335,1);
                will-change:transform;
            }
            &:before{
                transition-delay:.25s;
                background-color:#f06449;
                background:linear-gradient(270deg,#f06449,#ee2828);
                z-index:24;
            }
            &:after{
                transition-delay:.15s;
                background-color:#1c1d25;
                background:linear-gradient(270deg,#235aa6,#101b3b);
                z-index:25;
            }

            .nav{
                position:absolute;
                -webkit-transform-style:preserve-3d;
                transform-style:preserve-3d;
                top:50%;
                -webkit-transform:translateY(-50%);
                transform:translateY(-50%);
                left:15%;
                width:70%;
                margin:0;
                padding:0;
                list-style:none;
                opacity:0;
                transition:opacity .3s ease,-webkit-transform .4s cubic-bezier(.694,.048,.335,1);
                transition:opacity .3s ease,transform .4s cubic-bezier(.694,.048,.335,1);
                transition:opacity .3s ease,transform .4s cubic-bezier(.694,.048,.335,1),-webkit-transform .4s cubic-bezier(.694,.048,.335,1);
                transition-delay:0s;
                z-index:26
            }
            .nav ul {
                display: block; 
            }
            .nav li + li {
                margin-left: 0; 
            }
            .nav a{
                display:inline-block;
                color:#fff;
                font-size:1.6875em;
                padding:12px 25px;
            }

            .nav a:hover {
                &:before,
                &:after {
                    display: none !important;
                }
            }

            .close-trigger{
                position:absolute;
                top:60px;
                right:20px;
                display:block;
                -webkit-transform:scale(.75);
                transform:scale(.75);
                opacity:0;
                transition:opacity .25s ease 0s,-webkit-transform .35s cubic-bezier(.694,.048,.335,1) 0s;
                transition:opacity .25s ease 0s,transform .35s cubic-bezier(.694,.048,.335,1) 0s;
                transition:opacity .25s ease 0s,transform .35s cubic-bezier(.694,.048,.335,1) 0s,-webkit-transform .35s cubic-bezier(.694,.048,.335,1) 0s;
                z-index:46;
            }
        }
        /* When the navbar on mobile is clicked*/
        .header-content.active {
            visibility:visible;
            opacity: 1;
            transition-delay:.1s;
            z-index:45;

            &:after,
            &:before{
                -webkit-transform:translateX(0);
                transform:translateX(0)
            }
            &:before{
                transition-delay:0s
            }
            &:after{
                transition-delay:.15s
            }

            .nav{
                opacity:1;
                transition-delay:.4s;
                -webkit-transform:translateY(-60%);
                transform:translateY(-60%);
            }

            .close-trigger{
                -webkit-transform:scale(1);
                transform:scale(1);
                opacity:1;
                transition-delay:.52s;
            }
        }
    }
}

/* ------------------------------------------------------------ *\
    CLose Trigger Bar
\* ------------------------------------------------------------ */
/* Closing the mobile nav*/
.close-trigger-bar{
    display:block;
    width:100%;
    height:4px;
    background-color:#e3d8d3;
    position:relative;
}
.close-trigger-bar:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    display:block;
    width:0;
    height:100%;
    background-color:#fff;
    transition:all .3s cubic-bezier(.55,0,.1,1);
}
.close-trigger-bar.left{
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
.close-trigger-bar.right{
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    top:-3px;
}

/* ------------------------------------------------------------ *\
    Menu Trigger Bar
\* ------------------------------------------------------------ */
/*Mobile Only*/
.menu-trigger-bar{
    display:block;
    width:100%;
    height:3px;
    background-color:#dbdce4;
    margin-bottom:6px;
    position:relative
}
.menu-trigger-bar:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    display:block;
    width:0;
    height:100%;
    background-color:#235aa6;
    transition:all .3s cubic-bezier(.55,0,.1,1)
}
.menu-trigger-bar.middle{
    width:85%;
    margin-left:15%
}
.menu-trigger-bar.middle:before{
    left:auto;
    right:0
}
.menu-trigger-bar.bottom{
    width:60%;
    margin-left:40%
}

/* ------------------------------------------------------------ *\
	The Arrow
\* ------------------------------------------------------------ */
/*Arrow on Cover*/
.the-arrow{
    position:relative;
    display:inline-block;
    background:#f3f3f3;
    opacity:.8;
    height:1px;
    width:33px;
    top:-3px;
    transition:all .3s
}
.the-arrow.arrow-down{
    top:0;
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg)
}
.the-arrow:after,.the-arrow:before{
    opacity:1;
    content:"";
    position:absolute;
    background:#f3f3f3;
    height:1px;
    width:10px;
    left:-1px;
    margin-right:0;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    transition:all .3s
}
.the-arrow:before{
    top:-3px;
    -webkit-transform:rotate(-40deg);
    transform:rotate(-40deg)
}
.the-arrow:after{
    top:3px;
    -webkit-transform:rotate(40deg);
    transform:rotate(40deg)
}
