/*  Header  */

.header{
	height: 100vh; width: 100%;
	padding: 0rem 5rem;
	position: relative;
	top: 0; right: 0; 
	background-color: $color-selection;

	.header__socials{
		position: absolute;
		top: 50%;  right: 2.5rem;
		transform: translateY(-50%);

		a{ 
			display: block; 
			font-size: 2.4rem; 
			color: $color-links;
			transition: all .3s;

			&:hover{
				color: $color-white;
			}
		}
		
		a+a{ margin-top: 3rem;  }
	}

	.nav{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: -1rem; 
		z-index: 10; 
		/*font-family: 'Cabin', sans-serif;*/
		font-family: 'Poppins', sans-serif;

		img{
			height: 13rem;
			width: 13rem;
			margin-top: 0; 
			filter: grayscale(1);
		}
		.nav__items{
			
			.nav__item{
				display: inline;

				a{
					color: $color-links;
					font-size: 1.8rem; 
					text-transform: capitalize;
					transition: all .3s;
					

					/*  add the hover border effect  */
					&:hover{
						color: $color-white;
					}
				}
			}
			.nav__item+.nav__item{
				margin-left: 2rem; 
			}
		}
	}

	.header__content{
		position: absolute;
		top: 35%; left: 10rem;
	}

}