/* ------------------------------------------------------------ *\
	Universal Typography 
\* ------------------------------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

h1{
	font-size: 6.5rem; 
	color: #fff;
}

h2{
	font-size: 3rem;
	letter-spacing: 3px;
	color: #fff; 
	text-transform: uppercase;
}

h3{
	font-size: 2rem; 
	font-style: italic;
	color: #fff;
	font-weight: 100;
	letter-spacing: 2px; 
}

h4{
	font-size: 3.5rem; 
}

h5{
	font-size: 3rem; 
}

h6{
	font-size: 25px;
	text-transform: capitalize; 
	font-weight: bolder; 
}