/* ------------------------------------------------------------ *\
	Keyframes
\* ------------------------------------------------------------ */
@keyframes fromTop{
	0%{
		opacity: 0;
		visibility: hidden;
		transform: translateY(-70%);
	}
	100%{
		opacity: 1;
		visibility: visible;
		transform: translateY(-0%);
	} 

}

@keyframes fromLeft{
	0%{
		opacity: 0;
		visibility: hidden;
		transform: translateX(-100%);
	}
	100%{
		opacity: 1;
		visibility: visible;
		transform: translateX(0%); 
	}
}

@keyframes fromRight{
	0%{
		opacity: 0;
		visibility: hidden;
		transform: translateX(200%); 
	}
	100%{
		opacity: 1;
		visibility: visible;
		transform: translateX(0%); 
	}
}

@keyframes modalPop{
	0%{
		opacity: 0;
		visibility: hidden;
		/*transform: scale(0);*/
	}
	100%{
		opacity: 1;
		visibility: visible;
		/*transform: scale(1);*/
	} 
}
@keyframes scalePop{
	0%{
		opacity: 0; 
		transform: scale(0);
		visibility: hidden; 
	}
	100%{
		opacity: 1;
		transform: scale(1);
		visibility: visible; 
	}
}
@keyframes fakeZoom{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(2);
	}
	100%{
		transform: scale(1);
	}
}

/* ------------------------------------------------------------ *\
	Animations triggered by js
\* ------------------------------------------------------------ */


.fromTop{
	animation: fromTop .3s;
	opacity: 1 !important;
	visibility: visible !important;
}

.fromLeft{
	animation: fromLeft .3s;
	opacity: 1  !important;
	visibility: visible !important;
	transform: translateX(0%) !important;  
}

.fromRight{
	animation: fromRight .3s;
	opacity: 1 !important;
	visibility: visible !important;
	transform: translateX(0%) !important;  
}

.modalPop{
	animation: modalPop 1s ease !important;
	opacity: 1 !important;
	visibility: visible !important; 
}

.scalePop{
	animation: scalePop .5s ease-in !important;
	opacity: 1 !important;
	visibility: visible !important;
	transform: scale(1) !important;
}

.flipVideo{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	animation: fakeZoom .25s;
	transition: all .5s;
}
