/* ------------------------------------------------------------ *\
	Universal Helpers
\* ------------------------------------------------------------ */

.full-height { height: 100%; }

.half-height { height: 50%; }

.full-width { width: 100%; } 

.half-width { width: 50%; }

.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.my-auto { margin: auto 0; }

.mx-auto { margin: 0 auto; }

.py-auto { padding: auto 0; }

.px-auto { padding: 0 auto; }

.fw-bold { font-weight: bold; }

.fw-bolder { font-weight: bolder; }

.fw-lighter {font-weight: lighter; }

.fw-normal {font-weight: normal; }

.fs-italic { font-style: italic; }

.uppercase { text-transform: uppercase; }

.underlined { text-decoration: underline; }


/* ------------------------------------------------------------ *\
	Project Helpers
\* ------------------------------------------------------------ */


