/* ------------------------------------------------------------ *\
	Basic Colors
\* ------------------------------------------------------------ */

$color-white : #ffffff;
$color-black : #000000;
$color-gray  : #2c3e50;
$color-success:#1abc9c;
$color-alert : #e74c3c;

/* ------------------------------------------------------------ *\
	Project Variables
\* ------------------------------------------------------------ */

$color-selection : #1c1d25;
$color-text : #f3f3f3;
$color-primary : #f06449;
$color-hover : #1b2e63;
$color-links : #b0b2c3;



.color--white{
	color: $color-text !important;
}

/* ------------------------------------------------------------ *\
	Button Colors
	linear-gradient(270deg,#f06449,#ef3636)


	linear-gradient(270deg,#235aa6,#101b3b)

\* ------------------------------------------------------------ */

