/* ------------------------------------------------------------ *\
	Basic Colors
\* ------------------------------------------------------------ */

$color-white : #ffffff;
$color-black : #000000;
$color-gray  : #2c3e50;
$color-success:#1abc9c;
$color-alert : #e74c3c;

/* ------------------------------------------------------------ *\
	Project Variables
\* ------------------------------------------------------------ */

